[Desktop Entry]
Version=1.0
Type=Application
Name=BSI-Manager
Comment=Manages BSIs installed on system
Categories=Utility;
TryExec=BSI_Manager
Exec=BSI_Manager
Terminal=true
Keywords=BSI;